# Generated outputs / model artifacts
/baseline/logs/
/baseline/nn/
/baseline/results/
/baseline/final_models/
*.h5
*.keras
*.npy
*.csv
*.png

# IDE
.idea
.vscode

# Python
__pycache__/
*.pyc
*.pyo
*.pyd