# Baseline pipeline dependencies
# (Originally used: Conda and env_gpu.yml)
# Python 3.10 recommended (see env_gpu.yml for the full conda environment)

pandas
numpy>=1.20
scipy
scikit-learn
matplotlib
tensorflow
keras-tuner
tqdm
tensorflow-probability
tf-keras
